In [1]:
employee_name = "Saad" 
employee_age = 27
emplyee_salary = 300000

In [2]:
employee1 = ["Saad",27, 300000.37, "Male"]
employee1

['Saad', 27, 300000.37, 'Male']

In [3]:
print(type(employee1))

<class 'list'>

In [4]:
employee2 = []
type(employee2)

list

In [5]:
employee2.append("Shafiq")
employee2.append(30)
employee2.append(80000)
employee2.append("Male")

In [6]:
employee2

['Shafiq', 30, 80000, 'Male']

In [7]:
employee1

['Saad', 27, 300000.37, 'Male']

In [8]:
employee1.append("D.M")
employee1

['Saad', 27, 300000.37, 'Male', 'D.M']

In [9]:
employee2.append("A.M")
employee2

['Shafiq', 30, 80000, 'Male', 'A.M']

We have 2 types of indexing; 
1. Positve (that starts from 0)
2. Negative (that starts from -1)

In [10]:
print(employee1[2])
print(employee2[-3])

300000.37
80000

In [11]:
a = ["car","PF_2.0"]
b = ["PF_1.2"]

In [12]:
len(employee1)

5

In [13]:
employee1

['Saad', 27, 300000.37, 'Male', 'D.M']

In [14]:
employee1[1:4]

[27, 300000.37, 'Male']

In [15]:
employee1[0], employee1[3]

('Saad', 'Male')

In [16]:
"Male" in employee1

True

In [17]:
employee1.index("Male")

3

# list of lists

In [18]:
employees = [employee1, employee2,
             ["Shazia", 22, 15000, "Female"]]

In [19]:
employees

[['Saad', 27, 300000.37, 'Male', 'D.M'],
 ['Shafiq', 30, 80000, 'Male', 'A.M'],
 ['Shazia', 22, 15000, 'Female']]

In [20]:
len(employees)

3

In [21]:
print(employees[0][1:4])
print(employees[1][1:4])
print(employees[2][1:4])

[27, 300000.37, 'Male']
[30, 80000, 'Male']
[22, 15000, 'Female']

In [22]:
for item in employees:
    # print(item)
    print(item[1:4])

[27, 300000.37, 'Male']
[30, 80000, 'Male']
[22, 15000, 'Female']

In [23]:
from csv import reader
# import csv

opened_file = open("AppleStore.csv", encoding="utf-8")
# read_file = csv.reader(opened_file)
read_file = reader(opened_file)
# print(read_file)
applestore = list(read_file)

In [24]:
len(applestore)

7198

In [25]:
applestore[0:2]

[['id',
  'track_name',
  'size_bytes',
  'currency',
  'price',
  'rating_count_tot',
  'rating_count_ver',
  'user_rating',
  'user_rating_ver',
  'ver',
  'cont_rating',
  'prime_genre',
  'sup_devices.num',
  'ipadSc_urls.num',
  'lang.num',
  'vpp_lic'],
 ['284882215',
  'Facebook',
  '389879808',
  'USD',
  '0.0',
  '2974676',
  '212',
  '3.5',
  '3.5',
  '95.0',
  '4+',
  'Social Networking',
  '37',
  '1',
  '29',
  '1']]

In [26]:
len(applestore[0])

16

In [27]:
"waqas".upper()

'WAQAS'

In [28]:
len("waqas")

5

In [29]:
applestore[0].index('user_rating')

7

In [30]:
tot_ratings = 0
for i in applestore[1:]:
    # print(i)
    # tot_ratings += i[7]
    usr_ratings = float(i[7])
    #print(type(usr_ratings))
    tot_ratings += usr_ratings
    #print(usr_ratings)

tot_ratings

25383.5

In [31]:
num = 0
# num = num +5
num += 5

In [32]:
for i in "Waqas":
    print(i.upper())

W
A
Q
A
S

In [33]:
employee1

['Saad', 27, 300000.37, 'Male', 'D.M']